@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <h5>Result</h5>
        <pre>
            <code id="json-request" class="language-javascript">
                @ViewBag.clientIp
                @ViewBag.ExternalIP
                @*@ViewBag.SSL*@
                @ViewBag.ServerInfo
            </code>
        </pre>

    </div>
</div>
